<h2><%= @model %>s search for "<%= @word %>"</h2>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>著者</th>
      <th>タグ</th>
      <th>投稿者</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%=image_tag(review.book.small_image_url, class: "book-image") %></td>
        <td><%= review.book.title %></td>
        <td><%= review.book.authoer %></td>
        <td>
          <% if review.category.present? %>
            <%=link_to review.category,tagsearches_search_path(content: review.category)%>
          <% end %>
        </td>
        <td><%= review.customer.nickname %></td>
        <td><%= link_to "詳細", review_path(review), class: "btn btn-success col-sm-12 font-weight-bold" %></td>
      </tr>
    <% end %>
  </tbody>
</table>