<div class="container my-4 px-md-0">
  <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 px-1 ml-md-2">
    <h4 class="font-weight-bold text-nowrap mb-4">『<%= @word %>』の検索結果</h4>
  </div>
  <div class="mx-auto">
    <% if @reviews.any? %>
      <div class="table-responsive">
        <table class='table table-hover table-inverse'>
          <thead>
            <tr class="text-center">
              <th></th>
              <th>タイトル</th>
              <th>著者</th>
              <th>タグ</th>
              <th>投稿者</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr class="text-center">
                <td><%=image_tag(review.book.small_image_url, class: "book-image") %></td>
                <td><%= review.book.title %></td>
                <td><%= review.book.author %></td>
                <td>
                  <% if review.category.present? %>
                    <%=link_to review.category,tagsearches_search_path(content: review.category)%>
                  <% end %>
                </td>
                <td><%= review.customer.nickname %></td>
                <td><%= link_to "詳細", review_path(review), class: "btn btn-success col-sm-12 font-weight-bold" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @reviews %>
    <% else %>
      <div class="container my-5 px-sm-1 d-flex align-items-center justify-content-center" style="height: 60vh">
        <h4 class="text-center vertical-center font-weight-bold">『<%= @word %>』の検索結果はありませんでした。</h4>
      </div>
    <% end %>
  </div>
</div>