<div class="container-fluid">
  <div class="row justify-content-center my-4">
    <div class="col-xl-8 col-lg-9 col-md-10 col-12">
      
      <div class="px-1 ml-md-2">
        <h5 class="font-weight-bold text-center ml-5 mb-4" style="max-width: 200px;">"<%= @word %>" の検索結果</h5>
      </div>
      <div class="mx-auto">
        <div class="table-responsive">
         <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>著者</th>
              <th>タグ</th>
              <th>投稿者</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%=image_tag(review.book.small_image_url, class: "book-image") %></td>
                <td><%= review.book.title %></td>
                <td><%= review.book.author %></td>
                <td>
                  <% if review.category.present? %>
                    <%=link_to review.category,tagsearches_search_path(content: review.category)%>
                  <% end %>
                </td>
                <td><%= review.customer.nickname %></td>
                <td><%= link_to "詳細", review_path(review), class: "btn btn-success col-sm-12 font-weight-bold" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
