<div class="container my-4 px-md-0">
  <div class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2 px-1 ml-md-2">
    <h5 class="text-center ml-md-5 text-nowrap">レビュー詳細</h5>
  </div>
  
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <td></td>
        <td>タイトル</td>
        <td>著者</td>
        <td></td>
      </tr>
     </thead>
     <tbody>
       <tr>
         <td><%=image_tag(@review.book.small_image_url, class: "book-image") %></td>
         <td><%= @review.book.title %></td>
         <td><%= @review.book.author %></td>
       </tr>
     </tbody>
  </table>
  
  <div class="row">
    <%= form_with model:@review, local: true do |f| %>
    <table class="table table-borderless">
      <tr>
        <th style="font-size:20px;">星：</th>
        <td>
          <div id="star_<%= @review.id %>"></div>
          <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#star_<%= @review.id %>');
            if (elem == null) return;
            
            elem.innerHTML = "";
              let opt = {  
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= @review.star %>",
                readOnly: true,
              };
              raty(elem, opt);
            });
          </script>
        </td>
      </tr>
      <tr>
        <th style="font-size:20px;">タグ：</th>
        <td style="font-size:18px;"><%= f.text_field :category, class: 'form-control' %></td>
      </tr>
      <tr>
        <th style="font-size:20px;">感想：</th>
        <td style="font-size:18px;"><%= f.text_area :impression, class: 'form-control ' %></td>
      </tr>
      <tr>
        <th style="font-size:20px;">活かしたいこと：</th>
        <td><%= f.text_field :impression, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>
          <td><%= f.submit "更新", class: "btn btn-success col-sm-6 font-weight-bold" %></td>
        </th>
      </tr>
    </table>
    <% end %>
  </div>
</div>
