<div class="container my-4 px-md-0">
  <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 px-1 ml-md-2">
    <h4 class="text-center font-weight-bold ml-md-5 text-nowrap">レビュー一覧</h4>
  </div>
  <div class="search-form mb-3">
    <%= form_with url: tagsearches_search_path, method: :get, local: true do |f| %>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <%= f.text_field :content, class: "form-control col-md-4 mr-1", placeholder: "タグを入力" %>
        <%= f.submit "タグ検索", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>著者</th>
          <th>投稿者</th>
          <th>評価</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= link_to '新しい順', reviews_path(latest: "true") %>
        |<%= link_to '古い順', reviews_path(old: "true") %>
        |<%= link_to '評価の高い順', reviews_path(star_count: "true") %>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= image_tag(review.book.small_image_url, class: "book-image") %></td>
            <td><%= review.book.title %></td>
            <td><%= review.book.author %></td>
            <td><%= review.customer.nickname %></td>
            <td>
              <div id="star_<%= review.id %>"></div>
              <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star_<%= review.id %>');
                if (elem == null) return;
                
                elem.innerHTML = "";
                  let opt = {  
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    score: "<%= review.star %>",
                    readOnly: true,
                  };
                  raty(elem, opt);
                });
              </script>
            </td>
            <td><%= link_to "詳細", review_path(review), class: "btn btn-success btn-block font-weight-bold" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>