<div class="container my-4 px-md-0">
  <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 px-1 ml-md-2">
    <h4 class="text-center font-weight-bold ml-md-5 mb-3 text-nowrap">レビュー詳細</h4>
  </div>

  <!--投稿内容の表示-->
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="bg-light text-center">
          <th></th>
          <th>タイトル</th>
          <th>著者</th>
          <th>タグ</th>
          <th>レビュー投稿者</th>
          <th>いいね</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td><%= image_tag(@review.book.small_image_url, class: "book-image") %></td>
          <td><%= @review.book.title %></td>
          <td><%= @review.book.author %></td>
          <td>
            <% if @review.category.present? %>
              <%= link_to @review.category, tagsearches_search_path(content:@review.category) %>
            <% end %>
          </td>
          <td><%= link_to @review.customer.nickname, customer_path(@review.customer) %></td>
          <td id="favorite_buttons_<%= @review.id %>">
            <%= render "public/favorites/favorite", review: @review %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--星・感想・活かしたいことを表示-->
  <div class="row">
    <div class="col-md-6">
      <%= form_with model: @review, local: true do |f| %>
        <div class="table-responsive">
          <table class="table table-borderless">
            <tr>
              <th style="font-size:17px;">星</th>
              <td>
                <div id="star_<%= @review.id %>"></div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#star_<%= @review.id %>');
                    if (elem == null) return;

                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      score: "<%= @review.star %>",
                      readOnly: true,
                    };
                    raty(elem, opt);
                  });
                </script>
              </td>
            </tr>
            <tr>
              <th style="font-size:17px;">感想</th>
              <td style="font-size:15px;"><%= @review.impression %></td>
            </tr>
            <tr>
              <th class="text-nowrap" style="font-size:17px;">活かしたいこと</th>
              <td style="font-size:15px;"><%= @review.action %></td>
            </tr>
            <tr>
              <% if @review.customer == current_customer %>
                <td><%= link_to "編集", edit_review_path(@review), class: "btn btn-success font-weight-bold" %></td>
                <td><%= link_to "削除", @review, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger font-weight-bold" %></td>
              <% end %>
            </tr>
          </table>
        </div>
      <% end %>
      
      <!--コメント機能-->
      <%= form_with model: [@review, @review_comment] do |f| %>
        <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに", class: "form-control mb-3" %>
        <%= f.submit "送信する", class: "btn btn-primary font-weight-bold" %>
      <% end %>
    </div>
    
    <!--コメント表示-->
    <div class="row pb-5 ml-5 mt-3">
      <div class="col-md-12">
        <h5 class="font-weight-bold">コメント</h5>
        <div class="table-responsive">
          <table class='table table-hover'>
            <thead>
              <tr class="bg-light text-center">
                <td colspan="2"><strong>投稿者</strong></td>
                <td></td>
                <td><strong>コメント</strong></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @review.review_comments.each do |review_comment| %>
                <tr class="text-center">
                  <td><%= image_tag review_comment.customer.get_profile_image(50,50) %></td>
                  <td><%= review_comment.customer.nickname %></td>
                  <td class="mx-3"></td>
                  <td><%= review_comment.comment %></td>
                  <td>
                    <% if review_comment.customer == current_customer %>
                      <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), class:"font-weight-bold btn btn-danger btn-sm", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>