<header class="shadow-sm">
  <nav class="navbar navbar-expand-xl navbar-light bg-info">
    <div class="container">
      <a class="navbar-brand p-1" href="/"><%= image_tag "logo.png", size: "75x75" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

            <!--カスタマーログイン時-->
            <% if customer_signed_in? %>

               <li class="nav-item mx-1 pt-2">
                 <%= link_to "マイページ", customer_path(current_customer), class: 'nav-link text-dark btn btn-outline-light', style: "width: 100px;" %>
               </li>
               <li class="nav-item mx-1 pt-2">
                 <%= link_to "読書家検索", customers_path, class: 'nav-link text-dark btn btn-outline-light', style: "width: 100px;" %>
               </li>
               <li class="nav-item mx-1 pt-2">
                 <%= link_to "みんなの投稿", class: 'nav-link text-dark btn btn-outline-light', style: "width: 70px;"  %>
               </li>
               <li class="nav-item mx-1 pt-2">
                 <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-light', style: "width: 100px;" %>
               </li>

            <!--管理者ログイン時-->
            <% elsif admin_signed_in? %>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "レビュー一覧", class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>

　　　　　　<!--ログアウト時-->
            <% else %>
              <li class="nav-item mx-1 pt-sm-2">
                <%= link_to "About", about_path, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
              <li class="nav-item mx-1 pt-2">
                <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark btn btn-outline-light' %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
</header>